html { overflow-y: scroll; }
body { margin: 0; padding: 0; font-family: arial; background: #fff; }

h1, h2, h3 { margin: 0; padding: 0; line-height: 1; font-family: ff-enzo-web, arial; }
h1 { font-size: 48px; }
h2 { font-size: lpx; }
h3 { color: #666; }
h4 { }
hr { background: #ccc; display: block; height: 1px; margin: 10px 0 15px 0; border: none;}
p { color: #666; line-height: 1.4; }

.visual-grid .col, .visual-grid .gutter { float: left; height: 2000px; }
.visual-grid .col { background: #000; opacity: .3; width: 80px;  }
.visual-grid .gutter { background: #000; opacity: .1; width: 20px; }
.visual-grid { display: none; margin-left: -610px; top: 0; left: 50%; width: 1220px; height: 600px;  position: fixed; }

.grid-system { width: 1220px; margin: auto; }

.grid-system .col { width: 80px; float: left; margin-left: 20px; min-height: 20px;  }
.grid-system .col-first { margin-left: 0; }
.grid-system .row { padding-right: 20px; clear: both; float: left; margin-bottom: 20px; }

.grid-system .span-1 { width: 80px; }
.grid-system .span-2 { width: 180px; }
.grid-system .span-3 { width: 280px; }
.grid-system .span-4 { width: 380px; }
.grid-system .span-5 { width: 480px; }
.grid-system .span-6 { width: 580px; }
.grid-system .span-7 { width: 680px; }
.grid-system .span-8 { width: 780px; }
.grid-system .span-9 { width: 880px; }
.grid-system .span-10 { width: 980px; }
.grid-system .span-11 { width: 1080px; }
.grid-system .span-12 { width: 1180px; }

.grid-system .offset-1 { margin-left: 120px; }
.grid-system .offset-2 { margin-left: 220px; }
.grid-system .offset-3 { margin-left: 320px; }
.grid-system .offset-4 { margin-left: 420px; }
.grid-system .offset-5 { margin-left: 520px; }
.grid-system .offset-6 { margin-left: 620px; }
.grid-system .offset-7 { margin-left: 720px; }
.grid-system .offset-8 { margin-left: 820px; }
.grid-system .offset-9 { margin-left: 920px; }
.grid-system .offset-10 { margin-left: 1200px; }
.grid-system .offset-11 { margin-left: 1120px;}

.header { border-bottom: 3px solid #ccc; padding: 10px 0; /*background: url("cat.png") no-repeat right -40px; */ }
.header .horizontal-list { margin: 10px 0; }
.horizontal-list { margin: 0; padding: 0; list-style: none;  }
.horizontal-list li { float: left; margin-right: 10px; }

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { 
  zoom: 1; 
}
a { 
  color: #00aedb; 
}
a:hover {
  text-decoration: none;
}
.header h1 { padding-bottom: 10px; }
.header li .active, 
.header li .active:hover { 
  margin-top: 20px; 
  border: 1px solid #8ec1da;
  background-color: #ddeef6;
  box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
  -o-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
  -webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
  -moz-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
  color: #3985a8;
  text-shadow: 0 1px #fff;
}
.header li a:hover { 
  -moz-box-shadow: inset 0 0 5px #bbb, inset 0 -15px #eee, 0 0 3px #aaa;
}
.header li a { 
  -moz-transition: all 200ms cubic-bezier(0,0,.25,1);
  margin-top: 20px; 
  border: 1px solid #8ec1da;
  background-color: #fff;
  text-decoration: none; 
  color: #fff; 
  box-shadow: inset 0 0 5px #bbb, inset 0 -15px #eee, 0 0 3px #eee;
  -o-box-shadow: inset 0 0 5px #bbb, inset 0 -15px #eee, 0 0 3px #eee;
  -webkit-box-shadow: inset 0 0 5px #bbb, inset 0 -15px #eee, 0 0 3px #eee;
  -moz-box-shadow: inset 0 0 5px #bbb, inset 0 -15px #eee, 0 0 3px #eee;
  color: #3985a8;
  text-shadow: 0 1px #fff;
  padding: 3px 25px;
}

/*
  TODO: remove branding div altogether
*/
#branding {
  display: none;
}
a img {
  border: none;
}
.home #nav-below {
  border-top: none;
  width: 100%;
}
.home .post {
  border-bottom: 1px solid #ddd;
  padding: 10px 0 20px 0;
}
.home .post .span-6 {
  width: 560px;
}
.header h1 a {
  color: inherit;
  text-decoration: none;
}
.header h1 a:hover {
  color: #666;
}
.admin-bar {
  padding-top: 30px !important;
}

.single-post .post {
  padding-top: 10px;
}
.single-post .entry-content {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#nav-below {
  margin-top: 30px;
  clear: both;
  padding-top: 20px;
  border-top: 1px solid #ddd;
  margin-bottom: 50px;
}
#nav-below .nav-previous {
  float: left;
}
#nav-below .nav-next {
  float: right;
}

.list-module {
    font-size: 14px;
    margin-top: 10px;
    padding-top: 10px;
}
.list-module h3 {
    font-family: arial;
    font-size: 14px;
}
.list-module ul {
    padding-left: 20px;
}
.list-module li {
    margin-bottom: 5px;
}